n8n/contact-workflow/aida-contact-workflow.json
{
  "name": "Aida Contact Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f4e8c2a1-7b3d-4e9f-a1c2-8d5e6f7a8b9c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "webhookId": "f4e8c2a1-7b3d-4e9f-a1c2-8d5e6f7a8b9c"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json.body || item.json;\n\nif (body.website) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    name: String(body.name || '').trim(),\n    phone: String(body.phone || '').replace(/\\s/g, ''),\n    message: String(body.message || '').trim().slice(0, 300),\n    utm_source: body.utm_source || '',\n    utm_medium: body.utm_medium || '',\n    utm_campaign: body.utm_campaign || '',\n    utm_term: body.utm_term || '',\n    utm_content: body.utm_content || '',\n    page_url: body.page_url || '',\n    submitted_at: body.submitted_at || new Date().toISOString(),\n    user_agent: body.user_agent || item.json.headers?.['user-agent'] || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Prepare Contact Row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "honeypot-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Not Honeypot?"
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_term": "={{ $json.utm_term }}",
            "utm_content": "={{ $json.utm_content }}",
            "page_url": "={{ $json.page_url }}",
            "submitted_at": "={{ $json.submitted_at }}",
            "user_agent": "={{ $json.user_agent }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [660, -80],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Data Table"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "submitted_at": "={{ $json.submitted_at }}",
            "page_url": "={{ $json.page_url }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, -80],
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"پیام شما دریافت شد.\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 0],
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Contact Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contact Row": {
      "main": [
        [
          {
            "node": "Not Honeypot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Honeypot?": {
      "main": [
        [
          {
            "node": "Data Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
