docs/08-n8n-stats-workflow.json
{
  "name": "Aida Campaign Stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "stats-schedule-001",
      "name": "Daily 6 AM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 480],
      "id": "stats-manual-002",
      "name": "Manual Refresh"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wp7uRy8Mmtihpyz2",
          "mode": "list",
          "cachedResultName": "aida-website",
          "cachedResultUrl": "/projects/b5aZbTLpIJQPOBLU/datatables/wp7uRy8Mmtihpyz2"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [520, 390],
      "id": "stats-get-rows-003",
      "name": "Get All Registrations"
    },
    {
      "parameters": {
        "jsCode": "const BASE_PARTICIPANTS = 6000;\nconst MANUAL_PROVINCES = 2;\nconst MANUAL_CITIES = 4;\n\nconst rows = $input.all();\nconst formCount = rows.length;\n\nreturn [{\n  json: {\n    cache_key: 'latest',\n    participants: BASE_PARTICIPANTS + formCount,\n    registrations_from_form: formCount,\n    base_participants: BASE_PARTICIPANTS,\n    provinces: MANUAL_PROVINCES,\n    cities: MANUAL_CITIES,\n    goalFirst: 50000,\n    goalSecond: 500000,\n    goalMain: 1000000,\n    freeRatio: 10,\n    updated_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 390],
      "id": "stats-calc-004",
      "name": "Calculate Stats"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "aida-stats-cache",
          "mode": "name",
          "cachedResultName": "aida-stats-cache"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cache_key": "={{ $json.cache_key }}",
            "participants": "={{ $json.participants }}",
            "registrations_from_form": "={{ $json.registrations_from_form }}",
            "base_participants": "={{ $json.base_participants }}",
            "provinces": "={{ $json.provinces }}",
            "cities": "={{ $json.cities }}",
            "goalFirst": "={{ $json.goalFirst }}",
            "goalSecond": "={{ $json.goalSecond }}",
            "goalMain": "={{ $json.goalMain }}",
            "freeRatio": "={{ $json.freeRatio }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": ["cache_key"],
          "schema": [
            { "id": "cache_key", "displayName": "cache_key", "type": "string", "canBeUsedToMatch": true },
            { "id": "participants", "displayName": "participants", "type": "number" },
            { "id": "registrations_from_form", "displayName": "registrations_from_form", "type": "number" },
            { "id": "base_participants", "displayName": "base_participants", "type": "number" },
            { "id": "provinces", "displayName": "provinces", "type": "number" },
            { "id": "cities", "displayName": "cities", "type": "number" },
            { "id": "goalFirst", "displayName": "goalFirst", "type": "number" },
            { "id": "goalSecond", "displayName": "goalSecond", "type": "number" },
            { "id": "goalMain", "displayName": "goalMain", "type": "number" },
            { "id": "freeRatio", "displayName": "freeRatio", "type": "number" },
            { "id": "updated_at", "displayName": "updated_at", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1040, 390],
      "id": "stats-save-cache-008",
      "name": "Save Stats Cache"
    },
    {
      "parameters": {
        "path": "aida-campaign-stats",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 120],
      "id": "stats-webhook-005",
      "name": "Stats API",
      "webhookId": "aida-campaign-stats"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "aida-stats-cache",
          "mode": "name",
          "cachedResultName": "aida-stats-cache"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "cache_key",
              "condition": "eq",
              "keyValue": "latest"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [520, 120],
      "id": "stats-load-cache-009",
      "name": "Get Stats Cache"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst DEFAULT_STATS = {\n  participants: 6000,\n  base_participants: 6000,\n  registrations_from_form: 0,\n  provinces: 2,\n  cities: 4,\n  goalFirst: 50000,\n  goalSecond: 500000,\n  goalMain: 1000000,\n  freeRatio: 10,\n  updated_at: null\n};\n\nif (!rows.length) {\n  return [{ json: DEFAULT_STATS }];\n}\n\nconst r = rows[0].json;\nconst num = (v, fallback) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n};\n\nreturn [{\n  json: {\n    participants: num(r.participants, DEFAULT_STATS.participants),\n    registrations_from_form: num(r.registrations_from_form, 0),\n    base_participants: num(r.base_participants, 6000),\n    provinces: num(r.provinces, 2),\n    cities: num(r.cities, 4),\n    goalFirst: num(r.goalFirst, 50000),\n    goalSecond: num(r.goalSecond, 500000),\n    goalMain: num(r.goalMain, 1000000),\n    freeRatio: num(r.freeRatio, 10),\n    updated_at: r.updated_at || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 120],
      "id": "stats-format-010",
      "name": "Format Stats Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=3600"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 120],
      "id": "stats-respond-007",
      "name": "Respond Stats"
    }
  ],
  "connections": {
    "Daily 6 AM": {
      "main": [
        [
          {
            "node": "Get All Registrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Refresh": {
      "main": [
        [
          {
            "node": "Get All Registrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Registrations": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats": {
      "main": [
        [
          {
            "node": "Save Stats Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats API": {
      "main": [
        [
          {
            "node": "Get Stats Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats Cache": {
      "main": [
        [
          {
            "node": "Format Stats Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stats Response": {
      "main": [
        [
          {
            "node": "Respond Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tehran",
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
