docs/08-n8n-stats-workflow.json
{
  "name": "Aida Campaign Stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "id": "stats-schedule-001",
      "name": "Daily 6 AM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 560],
      "id": "stats-manual-002",
      "name": "Manual Refresh"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wp7uRy8Mmtihpyz2",
          "mode": "list",
          "cachedResultName": "aida-website",
          "cachedResultUrl": "/projects/b5aZbTLpIJQPOBLU/datatables/wp7uRy8Mmtihpyz2"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [480, 480],
      "id": "stats-get-rows-003",
      "name": "Get All Registrations"
    },
    {
      "parameters": {
        "jsCode": "const BASE_PARTICIPANTS = 6000;\nconst MANUAL_PROVINCES = 2;\nconst MANUAL_CITIES = 4;\n\nconst rows = $input.all();\nconst formCount = rows.length;\n\nconst stats = {\n  participants: BASE_PARTICIPANTS + formCount,\n  registrations_from_form: formCount,\n  base_participants: BASE_PARTICIPANTS,\n  provinces: MANUAL_PROVINCES,\n  cities: MANUAL_CITIES,\n  goalFirst: 50000,\n  goalSecond: 500000,\n  goalMain: 1000000,\n  freeRatio: 10,\n  updated_at: new Date().toISOString()\n};\n\nconst pretty = JSON.stringify(stats, null, 2) + '\\n';\nconst contentBase64 = Buffer.from(pretty, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    ...stats,\n    file_path: 'assets/data/stats.json',\n    content_base64: contentBase64,\n    content_pretty: pretty\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 480],
      "id": "stats-calc-004",
      "name": "Calculate Stats"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alecasgari/aida-website/contents/assets/data/stats.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "main"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 480],
      "id": "stats-get-file-005",
      "name": "Get Current File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_HEADER_AUTH_ID",
          "name": "GitHub PAT (Aida Stats)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $('Calculate Stats').first().json;\nconst res = $input.first().json;\n\nconst statusCode = res.statusCode || res.status || 200;\nconst body = res.body || res;\n\nlet sha = null;\nif (statusCode === 200 && body && body.sha) {\n  sha = body.sha;\n}\n\nlet skip = false;\nif (statusCode === 200 && body && body.content) {\n  const existing = Buffer.from(String(body.content).replace(/\\n/g, ''), 'base64').toString('utf8');\n  if (existing.trim() === String(stats.content_pretty).trim()) {\n    skip = true;\n  }\n}\n\nconst putBody = {\n  message: `chore(stats): update campaign participants to ${stats.participants}`,\n  content: stats.content_base64,\n  branch: 'main'\n};\nif (sha) putBody.sha = sha;\n\nreturn [{\n  json: {\n    skip,\n    participants: stats.participants,\n    put_body: putBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 480],
      "id": "stats-prepare-006",
      "name": "Prepare Commit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 480],
      "id": "stats-if-007",
      "name": "Needs Update?"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/alecasgari/aida-website/contents/assets/data/stats.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.put_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 400],
      "id": "stats-commit-008",
      "name": "Commit Stats JSON",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_HEADER_AUTH_ID",
          "name": "GitHub PAT (Aida Stats)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { skipped: true, reason: 'stats.json already up to date', participants: $json.participants } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 560],
      "id": "stats-skip-009",
      "name": "Already Up To Date"
    }
  ],
  "connections": {
    "Daily 6 AM": {
      "main": [
        [
          {
            "node": "Get All Registrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Refresh": {
      "main": [
        [
          {
            "node": "Get All Registrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Registrations": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats": {
      "main": [
        [
          {
            "node": "Get Current File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File": {
      "main": [
        [
          {
            "node": "Prepare Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Commit": {
      "main": [
        [
          {
            "node": "Needs Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Update?": {
      "main": [
        [
          {
            "node": "Commit Stats JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Up To Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tehran",
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
